body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    position: relative;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box h2 {
    margin-bottom: 20px;
    color: #36594D;
}

.inputbox {
    margin-bottom: 20px;
}

.inputbox input[type="text"],
.inputbox input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.inputbox span {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.sub {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #36594D;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sub:hover {
    background-color: #36594D;
}

.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}
