<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mental Health Website</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
</head>

<body>
  
  <button class="Pet" onClick="redirectToPetPage()">
    <img src="{{ url_for('static', filename='homepage_icons/Pet.jpg') }}" alt="Logo">
</button>

  <nav class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='homepage_icons/logo.png') }}" alt="Logo">
    </div>
    <ul class="nav-links">
      <li><a href="#">Get Help</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

  </nav>
  <nav class="main">
    <ul class="nav-links">
      <li><a href="{{ url_for('fitness')}}">Fitness</a></li>
      <li><a href="{{ url_for('journal')}}">Journal</a></li>
      <li><a href="{{ url_for('games')}}">Games</a></li>
      <li><a href="{{ url_for('forumPage')}}">Forum</a></li>
      <div class="login-signup">
        <button class="login-btn" onclick="redirectToLoginPage()">Login</button>
        <button class="signup-btn" onclick="redirectToRegisterPage()">Sign Up</button>

    </ul>


  </nav>
  <div class="intro">

    <p>
    <h2>Welcome to our MoodyMe!</h2>Dive into a world where personalized journaling, curated fitness routines, uplifting
    music, and therapeutic games converge to nurture your mind, body, and soul. More than just features, we're a
    vibrant community of like-minded individuals sharing victories, inspiration, and support. Wellness isn't just a
    goal here; it's a celebration of every step, every breath, every heartbeat. Join us on this journey of
    empowerment, transformation, and endless possibilities. Welcome to your oasis of wellness.</p>
  </div>

  <div class="mood">
    <h1>How are You Feeling?</h1>
    <img src="{{ url_for('static', filename='icons/veryhappy.png') }}" alt="Happy">
    <img src="{{ url_for('static', filename='icons/satisfied.png') }}" alt="Sad">
    <img src="{{ url_for('static', filename='icons/feelinggray.png') }}" alt="Sad">
    <img src="{{ url_for('static', filename='icons/angry.png') }}" alt="Sad">
    <img src="{{ url_for('static', filename='icons/verysad.png') }}" alt="Sad">


  </div>
  <div class="container">
    <h2 class="mt-5 mb-4">Explore MoodyMe Features</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card feature-card">
          <div class="card-body">
            <h5 class="card-title">
              <img src="{{ url_for('static', filename='homepage_icons/journal2.jpg') }}" alt="Journal Icon" class="icon">
              Personalized Journaling
            </h5>
            <p class="card-text">
              Unleash your inner thoughts and emotions in a sanctuary of self-expression. Our personal journaling
              feature provides a safe space for reflection, growth, and empowerment as you embark on a transformative
              journey of self-discovery and mindfulness
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card feature-card">
            <div class="card-body">
              <h5 class="card-title">
                <img src="{{ url_for('static', filename='homepage_icons/fitness2.jpg') }}" alt="Journal Icon" class="icon">
                <h5 class="card-title">Fitness Routines</h5>
                <p class="card-text">Elevate your well-being with our fitness routines designed to invigorate your mind,
                  body, and soul. From energizing workouts to soothing stretches, discover personalized exercises
                  tailored to your lifestyle. Embrace the power of movement and embark on a journey to vitality and
                  strength</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card feature-card">
            <div class="card-body">
              <h5 class="card-title">
                <img src="{{ url_for('static', filename='homepage_icons/games2.jpg') }}" alt="Journal Icon" class="icon">
                <div class="card-body">
                  <h5 class="card-title">Games to Refresh</h5>
                  <p class="card-text">Dive into a world of joy and relaxation with our collection of therapeutic games.
                    Engage your mind, unwind your spirit, and rediscover the magic of play. From calming puzzles to
                    uplifting adventures, find solace and rejuvenation in the delightful embrace of our immersive gaming
                    experience.</p>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card feature-card">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="{{ url_for('static', filename='homepage_icons/forum2.jpg') }}" alt="Journal Icon" class="icon">
                  <h5 class="card-title">Community Forum</h5>
                  <p class="card-text">Join our vibrant online community where support, understanding, and inspiration
                    thrive. Engage in meaningful conversations, share experiences, and offer encouragement in a
                    nurturing space dedicated to mental health and well-being. Together, we foster resilience,
                    connection, and endless possibilities for growth and healing
                  </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card feature-card">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="{{ url_for('static', filename='homepage_icons/pet2.jpg') }}" alt="Journal Icon" class="icon">
                  <h5 class="card-title">Virtual Pet Companion</h5>
                  <p class="card-text">Experience the joy of companionship with our virtual pet adoption feature.
                    Nurture and bond with your digital companion, fostering a sense of responsibility, love, and
                    happiness. Embrace the warmth of unconditional friendship as you embark on an uplifting journey of
                    care and connection</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add more cards for other features as needed -->
  </div>
  </div>


  <footer class="footer">
    <div class="container">
      <div class="grid-4">
        <div class="grid-4-col footer-about">
          <h3 class="title-sm">About Us</h3>
          <p class="text">

          </p>
        </div>

        <div class="grid-4-col footer-links">
          <h3 class="title-sm">Links</h3>
          <ul>
            <li>
              <a href="#gethelp">Get Help</a>
            </li>
            <li>
              <a href="#aboutus">About Us</a>
            </li>
            <li>
              <a href="#resources">Resources</a>
            </li>
            <li>
              <a href="#contactus">Contact Us</a>
            </li>
          </ul>
        </div>

        <div class="grid-4-col footer-links">
          <h3 class="title-sm">Links</h3>
          <ul>
            <li>
              <a href="#fitness">Fitness</a>
            </li>
            <li>
              <a href="#diet">Diet</a>
            </li>
            <li>
              <a href="#games">Games</a>
            </li>
            <li>
              <a href="#forum">Forum</a>
            </li>
          </ul>
        </div>

        <div class="grid-4-col footer-newstletter">
          <h3 class="title-sm">Subscribe</h3>
          <p class="text">
            Get updates.
          </p>
          <div class="footer-input-wrap">
            <input type="email" class="footer-input" placeholder="Email" />
            <a href="#" class="input-arrow">
              <i class="fas fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="bottom-footer">
        <div class="copyright">
          <p class="text">
            Copyright&copy;2020 All rights reserved

          </p>
        </div>

        <div class="followme-wrap">
          <div class="followus">
            <h3>Follow Us</h3>
            <span class="footer-line"></span>
            <div class="social-media">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>

          <!-- <div class="back-btn-wrap">
            <a href="#" class="back-btn">
              <i class="fas fa-chevron-up"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </footer>
  <script>
    function redirectToLoginPage() {
        // Use window.location.href to navigate to the desired page
        window.location.href = "{{ url_for('loginPage') }}";
    }
    function redirectToRegisterPage() {
        // Use window.location.href to navigate to the desired page
        window.location.href = "{{ url_for('registerPage') }}";
    }
    function redirectToPetPage() {
        // Use window.location.href to navigate to the desired page
        window.location.href = "{{ url_for('petPage') }}";
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./js/isotope.pkgd.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./js/app.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>